@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    margin: 50px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    font-size: 40px;
}

.btn:hover{
    background: darkgray;
}

